@import "tailwindcss";
.accent{
  color: #587D85;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Geist Sans', Arial, Helvetica, sans-serif;
  --font-mono: 'Fira Code', monospace;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Geist Sans', Arial, Helvetica, sans-serif;
  font-size: 18px;   /* Standardtext größer */
  line-height: 1.6;  /* besseres Lesen */
}


/* Parallax Base */
.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-shift {
  transform: translateY(var(--shift, 0px));
  transition: transform 0.1s ease-out;
}
/* Custom Farben */
@layer utilities {
  .bg-primary-light { background-color: #D9DEDF; }
  .bg-accent { background-color: #587D85; }
  .bg-secondary { background-color: #B2B2AC; }
  .text-dark { color: #3A3A3A; }
  .border-secondary { border-color: #B2B2AC; }
}